<form method="post" action="">
  <label for="new_doc"> Add a new document:</label>
  <div>
    <textarea name="new_doc" id="new_doc"></textarea> <button type="submit">Create</button>
  </div>
</form>
